{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}


<div class="">
    <div {{ react_component('HomeNav', { 'user' : app.user }) }}></div>
    <div {{ react_component('HomeForm', {}) }}></div>
</div>
{% endblock %}
